body {
font-family: 'Roboto', sans-serif;
}

.landing-section {
  background: url('../images/h_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
#logo {
  padding-top: 17%;
}
#welcome {
  padding-top: 2.5%;
}
#message {
  padding-top: 2%;
}
#content {
  font-size: 12px;
}
#mouse-click {
  padding-top: 12%;
  padding-bottom: 3%;
}

.about-us {
  padding: 4%;
  text-align: center;
}

.services-section {
  background: url('../images/s_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.services {
  padding: 8%;
  color: #ffffff;
}

.what-we-do {
  padding: 4%;
  text-align: center;
}

.what-we-do-icons {
  padding: 4%;
  text-align: center;
}

.portfolio {
  padding: 4%;
  text-align: center;
  width: 90%;
}

.portfolio h2 {
  padding: 1%;
}

.card {
  padding-bottom: 4%;
  border: none;
}

.contact-us-section {
  background: url('../images/c_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #FDFDFB;
}

.contact-us {
  width: 70%;
  text-align: center;
  padding-bottom: 9%;
}
.contact-us h2 {
  padding-top: 5%;
  padding-bottom: 2%;
}
.form-control::placeholder {
  color: white;
}

#userName {
  background-color: transparent;
}
#inputEmail {
  background-color: transparent;
}
#userMessage {
  background-color: transparent;
}

.footer {
  padding: 3%;
  text-align: center;
  word-spacing: 20px;
}
.footer-text {
  padding-bottom: 2%;
}
.footer-text p {
  margin:0;
  padding:0;
  line-height:15px;
  text-align: center;
  font-size: 13px;
}
