body {
font-family: 'Roboto', sans-serif;
}

.landing-section {
  background: url('../images/h_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
#logo {
  padding-top: 17.5%;
}
#welcome {
  padding-top: 2.5%;
  font-size: 45px;
}
#message {
  padding-top: 1.5%;
  font-size: 45px;
}
#content {
  font-size: 13px;
}
#mouse-click {
  padding-top: 12%;
  padding-bottom: 3%;
}

.about-us {
  padding: 4%;
  text-align: center;
}

.services-section {
  background: url('../images/s_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.services {
  padding: 8%;
  color: #ffffff;
}

.what-we-do {
  padding: 4%;
  text-align: center;
}

.what-we-do-icons {
  padding: 4%;
  text-align: center;
}
.design {
  font-size: 12px;
}
.design h3 {
  font-size: 16px;
}
#designText {
  display: none;
}

.development {
  font-size: 12px;
}
.development h3 {
  font-size: 16px;
}
#developmentText {
  display: none;
}
.product-management {
  font-size: 12px;
}
.product-management h3 {
  font-size: 16px;
}
#productManagementText {
  display: none;
}
.clickable {
  cursor: pointer;
}


.portfolio {
  padding: 4%;
  text-align: center;
  width: 90%;
}

.portfolio h2 {
  padding: 1%;
}
.card {
  padding-bottom: 4%;
  border: none;
}

.card img {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.card:hover img {
  filter: grayscale(1) blur(2px);
  -webkit-filter: grayscale(1) blur(1px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#overlay2,#overlay5 {
  display: none;
  background: linear-gradient(90deg, rgba(140,126,251,0.26094187675070024) 0%, rgba(222,66,91,0.2861519607843137) 100%);
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 75px;
  left: 32px;
  font-family: 'Sail', cursive;
  color: #000000;
  font-size: 45px;
}
#overlay3,#overlay6,#overlay {
  display: none;
  background: linear-gradient(90deg, rgba(140,126,251,0.26094187675070024) 0%, rgba(222,66,91,0.2861519607843137) 100%);
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 75px;
  left: 32px;
  font-family: 'Sail', cursive;
  color: #fff9d7;
  font-size: 45px;
}
#overlay1,#overlay4 ,#overlay7{
  display: none;
  background: linear-gradient(90deg, rgba(140,126,251,0.5) 0%, rgba(222,66,91,0.5) 100%);
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 75px;
  left: 32px;
  font-family: 'Sail', cursive;
  color: #fff9d7;
  font-size: 45px;
}

.text-overlay h2 {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.text-overlay:hover h2 {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.contact-us-section {
  background: url('../images/c_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #FDFDFB;
}

.contact-us {
  width: 70%;
  text-align: center;
  padding-bottom: 9%;
  color: white;
}
.contact-us h2 {
  padding-top: 5%;
  padding-bottom: 2%;
}
.form-control::placeholder {
  color: white;
}
#userName {
  background-color: transparent;
  border-radius: 0px;
  color: white;
}
#inputEmail {
  background-color: transparent;
  border-radius: 0px;
  color: white;
}
#userMessage {
  background-color: transparent;
  border-radius: 0px;
  color: white;
}

.footer {
  padding: 3%;
  text-align: center;
  word-spacing: 20px;
}
.footer-text {
  padding-bottom: 2%;
}
.footer-text p {
  margin:0;
  padding:0;
  line-height:15px;
  text-align: center;
  font-size: 13px;
}
